*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    list-style:none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    
   
  }
  header{
   max-height:50vh;
   width:100%;
   background-color:#129799;
   color: #fff;
  }
  header section nav{
    display:flex;
   justify-content: center;
  }
  header section nav ul{
    border:1px solid red;
    width: 50%;
    display:flex;
   justify-content:space-between;
  }
  li{
    color:white;
  }
  li:hover {
    font-weight: bold;
    cursor: pointer;
  }
  ul{
    display:flex;
    justify-content:space-evenly;
  }
.title{
    height: 16vw;
    border: 1px solid green;
    display:flex;
    flex-direction:;
    justify-content:center;
    font-size:2.1vw;
  }
.title h1{
    padding: 6.4vw 0 0 0;
    border: 1px dashed red;
  }
.img-life{
    border: 1px solid pink;
    width:35vw;
  }
  .abas{
    display:flex;
    justify-content:space-evenly;
  }
  button{
    display: none;
  }
  main{
   background-color:#FFA185;
   height:155vh;
   width:100vw;
  }
.title-main{
  height: 25vh;
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  .aquarela{
    width: 66.7vw;
    color:#fff;
    text-transform:uppercase;
    height:6vh;
  }
  p{
    width: 66.7vw;
    height:8vh;
    font-weight:bold;
    font-size: 2.8vh;
  }
.boxde-img{ 
  height: 120vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .boxde-img figure{
    display: inline-block;
  }
  .boxde-img figure img{
    width:46vw;
    height: 24vw; 
  }
  .vejamais{
   display:flex;
   flex-direction: column;
   justify-self: flex-end;
   align-items: center;
   font-weight:bold;
  }
  
  footer{
    display:flex;
    background-color:#129799;
    height:12vh;
    justify-content: space-around;
    align-items: center;
    color:#fff;
  }
  
  .redes{
    display:flex;
    height:5vh;
    width:40vw;
    justify-content: space-between;
    max-width: 200px;
  } 

footer nav ul{
  font-size: 1.2rem;
  display:flex;
    height:5vh;
    width:40vw;
    justify-content: space-between;
}
  @media (max-width:500px){
    header section nav ul{
      border:1px solid red;
      width: 100vw;
      display:flex;
     justify-content:space-around;
    }
    .title{
      width: 100vw;
      height: 25vw;
      border: 1px solid green;
      display:flex;
      justify-content:start;
      font-size:3vw;
    }
    .title h1{
      padding: 10vw 0 0 0;
      border: 1px dashed red;
    }
    .img-life{
      border: 1px solid pink;
      width:48vw;
    }
    .abas{
      height: 7vh;
      display:flex;
      justify-content:start;
      align-items: center;
    }
    header nav ul button{
      width: 10vw;
      font-size: 7vw;
      margin:0 3vw 0 1vw;
      display: inline;
    }
    header nav ul button:hover{
      cursor: pointer;
    }
    .li-em{
      display: none;
    }
    .li-ev{
      display: none;
    }
    main{
      background-color:#FFA185;
      height:200vh;
      width:100vw;
     }
    .title-main{
      height: 19vh;
      width: 100vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 4.1vw;
    }
    .aquarela{
      width: 97vw;
      color:#fff;
      text-transform:uppercase;
      height:6vh;
    }
    p{
      width: 97vw;
      height:8vh;
      font-weight:bold;
      font-size: ;
    }
    .boxde-img{ 
      height: 170vh;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .boxde-img figure{
      display: inline-block;
    }
    .boxde-img figure img{
      width:92vw;
      height: 48vw;
      
    }
    footer{
      display:flex;
      background-color:#129799;
      height:25vh;
      flex-wrap: wrap;
      justify-content: center;
      align-items: space-around;
      color:#fff;
    }
    
    .redes{
      display:flex;
      height:8vh;
      width:70vw;
      justify-content: space-between;
      max-width: 200px;
    } 
  
  footer nav ul{
    font-size: 1.2rem;
    display:flex;
      height:5vh;
      width:70vw;
      justify-content: space-between;
  }
  } 